# --- Julia

# Environment
Manifest.toml

# Coverage.jl
*.jl.*.cov
*.jl.*.mem

# --- Python

# testing
htmlcov/
.cache
.coverage
.coverage.*
.pytest_cache
__pycache__

# --- Documentation

/docs/build/

# --- Environments

# direnv
.direnv
.envrc

# conda
.conda

# common manually-created Python virtual environments
.venv

# --- Code editors

# vim
.*.sw[po]

# VS Code
.vscode/

# Pycharm
.idea

# Spyder
.spyproject/

# --- GitHub

.github/secrets

# --- Miscellaneous

# macOS
.DS_Store*
